In [1]:
import pandas as pd

In [2]:
dates = pd.date_range(start='2024-01-01', end='2024-12-01', freq='MS').strftime('%Y-%m-%d')

df_sales = pd.DataFrame({
    'date': dates,
    'sales': [5350, 5450, 5500, 4500, 4400, 3900, 3800, 4000, 4500, 4900, 5000, 5500]
})

In [3]:
df_sales

          date  sales
0   2024-01-01   5350
1   2024-02-01   5450
2   2024-03-01   5500
3   2024-04-01   4500
4   2024-05-01   4400
5   2024-06-01   3900
6   2024-07-01   3800
7   2024-08-01   4000
8   2024-09-01   4500
9   2024-10-01   4900
10  2024-11-01   5000
11  2024-12-01   5500